            {% extends "user/layout.html" %}


            {% block content %}

        <!-- hero section starts here -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/Images/luxury-house-real-estate-sale-property-generative-ai.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/Images/3d-rendering-loft-luxury-living-room-with-shelf-near-dining-table.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

        
            

            
        </div>
        <!-- hero section ends here --> 

        <!-- property sale section starts here-->
        <div class="sale">
            <h3 id="prop-sale">Latest properties for sale</h3>

            <div class="box-contain row">
                <div class="box col-md-4">
                    <img src="/static/Images/abby-rurenko-uOYak90r4L0-unsplash.jpg" width="100%" alt="">
                    <p class="label"><b>DOWN AVENUE</b></p>
                    <p class="bedroom">4 Bedrooms</p>
                    <p class="description">Welcome to your dream home! 
                        This stunning 4 bedroom house is now available for sale in a sought-after neighborhood. 
                        Boasting a spacious layout, this home offers ample space for comfortable living.</p>
                </div>

                <div class="box col-md-4">
                    <img src="/static/Images/sieuwert-otterloo-aren8nutd1Q-unsplash.jpg" width="100%" alt="">
                    <p class="label"><b>QUEENS WAY</b></p>
                    <p class="bedroom">5 Bedrooms</p>
                    <p class="description">Step into luxury with this stunning 5 bedroom house located in a highly sought-after neighborhood.
                        This expansive home offers ample space for a growing family or for those who love to entertain. 
                                                    
                        </p>
                </div>

                <div class="box col-md-4">
                    <img src="/static/Images/terrah-holly-pmhdkgRCbtE-unsplash.jpg" width="100%" alt="">
                    <p class="label"><b>RANDALL CLOSE</b></p>
                    <p class="bedroom">6 Bedrooms</p>
                    <p class="description">Welcome to your ultimate dream home! 
                        This exquisite 6 bedroom house is now available for sale in an exclusive community known for its upscale living. 
                        Boasting a grand and elegant design, 
                        this home offers unparalleled luxury and comfort. 
                    </p>
                </div>
            </div> 
        </div>
        <!-- property sale section ends here -->
        <div class="rent">
            <div><h3>Latest rental properties</h3></div>
            <div class="main-rent-container">
                <div class="rent-container row">
                    <div class="rent-img col-md-5">
                        <img src="/static/Images/egyprt-tourist-resort.jpg" width="100%" alt="">
                    </div>
                    <div class="rent-content col-md-5">
                        <h4 class="rent-head">Chase Avenue</h4>
                        <p class="bedroom rent-bed">4 Bedrooms</p>
                        <p class="description">Welcome to our real estate listing for a beautiful 4-bedroom house available for rent. This spacious and well-maintained home is perfect for families or individuals looking for a comfortable and inviting living space.</p>
                        <p class="rent-price"><strong>$500/per week</strong></p>
                    </div>
                </div> 
            </div>
            <div class="main-rent-container2">
                <div class="rent-container">
                    <div id="rentcont2" class="col-md-5">
                        <h4 class="rent-head">King Close</h4>
                        <p class="bedroom">3 Bedrooms</p>
                        <p class="description">Introducing a stunning 3-bedroom house that embodies the perfect blend of comfort, style, and convenience. This meticulously maintained home is a rare find, offering a harmonious balance of modern amenities and timeless charm.</p>
                        <p class="rent-price"><strong>$450/per week</strong></p>
                    </div>
                    <div class="rent-img col-md-5">
                        <img width="100%" src="/static/Images/wide-shot-beautiful-architecture-modern-house.jpg" alt="">
                    </div> 
                </div> 
            </div>
        </div>
        <div class="realtors">
            <h3 id="prop-sale">REALTORS YOU CAN TRUST</h3>
            <div class="box-contain row">
                <div class="box col-md-4">
                    <img src="/static/icons/icons8-document-64 (1).png" width="20%" alt="">
                    <p class="reg">FREE REGISTRATION <br> NO HIDDEN FEES</p>
                    <p class="description">Whether you are a first-time homebuyer, a seasoned investor, or a seller looking to list your property, our free registration will provide you with the resources and support you need to achieve your real estate goals. Take advantage of this opportunity to connect with a trusted team of REALTORS who are committed to helping you every step of the way.
                    </p>
                </div>
                <div class="box col-md-4">
                    <img class="quote" src="/static/icons/icons8-stack-48.png" width="20%" alt="">
                    <p class="reg">Property appraisal <br> free of charge</p>
                    <p class="description">Are you curious about the current market value of your property? Look no further! Our team of experienced REALTORS is pleased to offer you a complimentary property appraisal on our website.</p>
                </div>
                <div class="box col-md-4">
                    <img src="/static/icons/icons8-location-50.png" width="20%" alt="">
                    <p class="reg">Large coverage <br>offices in 4 location</p>
                    <p class="description">We are proud to announce that our real estate agency has expanded its reach to serve you better! With large coverage offices in four convenient locations, we are dedicated to providing exceptional service to our customers no matter where they are located.</p>
                </div>
        </div>
        <div class="sect-test">
            <h3 class="prop-test">What our clients think</h3>
            <div class="testimony row">
                <div class="col-md-4">
                    <img class="quote" src="/static/icons/bxs--quote-left.svg" width="10%" alt="">
                    <p class="test-cont">"Working with JART REAL ESTATE was a truly exceptional experience. Their knowledge of the market, attention to detail, and dedication to finding the perfect home for us was unmatched. We are so grateful for their expertise and guidance throughout the entire process."</p>
                    <p class="testifier">John and Sarah</p>
                </div>
                <div class="col-md-4">
                    <img class="quote" src="/static/icons/bxs--quote-left.svg" width="10%" alt="">
                    <p class="test-cont">"We couldn't have asked for a better real estate agent than JART REAL ESTATE. They went above and beyond to help us sell our home quickly and for a great price. Their communication, professionalism, and negotiation skills were top-notch. We highly recommend JART REAL ESTATE to anyone looking to buy or sell a property."</p>
                    <p class="testifier">Tina and James Heart</p>
                </div>
                <div class="col-md-4">
                    <img class="quote" src="/static/icons/bxs--quote-left.svg" width="10%" alt="">
                    <p class="test-cont">"I was a first-time homebuyer and was feeling overwhelmed by the process. JART REAL ESTATE made everything so easy and stress-free. They took the time to explain each step, answered all of my questions, and helped me find the perfect home within my budget. I am so grateful for their patience and expertise."</p>
                    <p class="testifier">Mary Van Den Reich</p>
                </div>
            </div>
        </div>        
        {% endblock content %}

            